@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(231, 229, 229);
    font-family: 'Roboto' sans-serif;
}

.calculator {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    color: #fff;
}

.screen {
    background-color: #222222;
    color: #fff;
    padding: 0.5rem 0.75rem;
    text-align: right;
    font-size: 1.7rem;
}

.calculator_keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    background-color: #999;
}

button {
    background-color: #fff;
    padding: 0.8em 1.25em;
    position: relative;
    text-align: center;
    border: none;
    font-weight: 600;
    font-size: 1rem;
}

button:active {
    color: #fff;
    background-color: #999;
    transform: scale(1);
}

.key--equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
}

.key--operator {
    font-size: 1rem;
}

.active {
    color: #fff;
    background-color: #222222;
}

